.navbar {
  box-shadow: 0px 7px 40px rgba(#000, 0.1);
  .btn-navbar {
    color: white;
    background-color: #8b4a4c;
    &:hover {
      color: white;
      background-color: #970c10;
    }
  }
  .dropdown-toggle::after {
    color: #8b4a4c;
  }
}
.btn-general {
  color: white;
  background-color: #8b4a4c;
  &:hover {
    color: white;
    background-color: #970c10;
  }
}

.btn-profile {
  position: absolute;
  left: 0;
  bottom: 0;
}

.btn-edit {
  position: absolute;
  right: 0;
  top: 0;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 11111;
  display: flex;
  justify-content: center;
  align-items: center;
}
